.record_container {
  display: flex;
  /*컴포넌트들을 컬럼으로 나열*/
}

.left_content {
  flex-direction: column;
}

.card_info {
  width: 30vh;
  height: 30vh;
}

.active_record_submit {
  justify-content: center;
  width: 25vh;
  height: 30vh;
}

.hr1 {
  border-width: 5px;
  width: 25vh;
}

.record_submit-student {
  justify-content: center;
  text-align: center;
  list-style: none;
}

ul.record_submit-student li::before {
  /*활동기록 제출 li new 고정*/
  content: "new";
  color: blue;
  display: inline-block;
}

.right_content {
  flex-direction: column;
}

.myclass_month_plan_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.myclass_month_plan_title {
}

.search-container button {
  margin-left: 100vh;
}
