@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login_center {
  width: 150vh;
  height: 80vh;
  display: flex;
  padding-left: 200px;
  justify-content: center;
}

.datepicker_custom {
  text-decoration-color: lightblue;
}

hr.class-1 {
  border-top: 10px solid #8c8b8b;
}

hr.class-2 {
  border-top: 3px double #8c8b8b;
}

hr.class-3 {
  border-top: 1px dashed #8c8b8b;
}

hr.class-4 {
  border-top: 1px dotted #8c8b8b;
}

hr.class-5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}

hr.class-6 {
  background-color: #fff;
  border-top: 5px dotted #8c8b8b;
}

.react-calendar {
  width: 500px;
  max-width: 100%;
  background: black;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}
